__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

backend/venv/
backend/.VENV/
frontend/node_modules/

data/
backend/data/
uploads/
backend/uploads/

*.docx:Zone.Identifier
*.docx:sec.endpointdlp